---
title: Signup
permalink: "/signup/"
layout: empty
---

{% include nav.html %}
<div class="container">
  <div class="row">
    <div class="col-xl-8 offset-xl-2 py-5">
      <h1 class="mb-4">Mailing list signup</h1>
      <p class="lead">Enter your contact details below to hear from us regularly via our mailing list.</p>
      <p class="lead mb-5">Learn about Climate Action Darwin events, campaigns and other activities, and get directly involved.</p>
      <div class="card card-body card-inverse">
        {% include mailchimp-signup.html %}
      </div>
    </div>
    <!-- /.8 -->
  </div>
  <!-- /.row-->
</div>
