<!-- Call to Action -->
<section class="cad-call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Sign up to take action</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form name="climate-action-darwin-signup"
              method="POST"
              action="https://simple-form.com/climateactiondarwintech@gmail.com">
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input name="replyTo"
                     autocomplete="on"
                     type="email"
                     class="form-control form-control-lg required email"
                     placeholder="Enter your email …">
              <input class="cad-signup-redirect" type="hidden"
                     name="redirectURL" value="https://climateactiondarwin.github.io?signup=true" />
              <input type="hidden" name="subject" value="Climate Action Darwin: signup form submitted" />
            </div>
            <div class="col-12 col-md-3">
              <input type="submit" class="cad-contact-form-button btn btn-block btn-lg btn-primary" value="Sign up!">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
