<!-- Footer Linkbar -->
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <!-- <li class="list-inline-item"> -->
          <!-- <a href="/about/">About</a> -->
          <!-- </li> -->
          <!-- <li class="list-inline-item">&sdot;</li> -->
          <li class="list-inline-item">
            <a href="/about/">About</a>
          </li>
          <li class="list-inline-item">
            <a href="/what-we-do/">What we do</a>
          </li>
          <li class="list-inline-item">
            <a href="/contact/">Contact</a>
          </li>
          <!-- <li class="list-inline-item">&sdot;</li> -->
          <!-- <li class="list-inline-item"> -->
          <!-- <a href="#">Terms of Use</a> -->
          <!-- </li> -->
          <!-- <li class="list-inline-item">&sdot;</li> -->
          <!-- <li class="list-inline-item"> -->
          <!-- <a href="#">Privacy Policy</a> -->
          <!-- </li> -->
        </ul>
        <p class="small mb-4 mb-lg-0">This website was designed and built on the traditional lands of the Larrakia people.</p>
        <p class="text-muted small mb-4 mb-lg-0">&copy; Climate Action Darwin 2019. All rights reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <!-- <li class="list-inline-item mr-3"> -->
          <!-- <a href="#"> -->
          <!-- <i class="fab fa-twitter-square fa-2x fa-fw"></i> -->
          <!-- </a> -->
          <!-- </li> -->
          <!-- <li class="list-inline-item mr-3"> -->
          <!-- <a href="#"> -->
          <!-- <i class="fab fa-instagram fa-2x fa-fw"></i> -->
          <!-- </a> -->
          <!-- </li> -->
          <li class="list-inline-item">
            <a href="https://www.facebook.com/climateactiondarwin/">
              <i class="fab fa-facebook fa-5x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
