<!-- MailChimp signup -->
<form name="climate-action-darwin-signup"
      method="POST"
      action="{{site.mailchimp-signup}}">
  <div class="form-row">
    <div class="col-12 col-md-12 mb-2 mb-md-0">
      <input type="hidden" name="u" value="05550c31aab05111021e246b3">
      <input type="hidden" name="id" value="88077ff0bc">
      <div class="form-group row">
        <label for="MERGE0" class="col-md-4 col-form-label">Email address</label>
        <div class="col-md-8">
          <input type="email"
                 name="MERGE0"
                 id="MERGE0"
                 autocapitalize="off"
                 autocorrect="off"
                 autocomplete="on"
                 class="form-control required email"
                 placeholder="Email …">
        </div>
      </div>

      <div class="form-group row">
        <label for="MERGE1" class="col-md-4 col-form-label">First name</label>
        <div class="col-md-8">
          <input type="text"
                 name="MERGE1"
                 id="MERGE1"
                 autocomplete="on"
                 class="form-control required"
                 placeholder="First name …">
        </div>
      </div>

      <div class="form-group row">
        <label for="MERGE2" class="col-md-4 col-form-label">Last name</label>
        <div class="col-md-8">
          <input type="text"
                 name="MERGE2"
                 id="MERGE2"
                 autocomplete="on"
                 class="form-control required"
                 placeholder="Last name …">
        </div>
      </div>

      <div class="form-group row">
        <label for="MERGE3" class="col-md-4 col-form-label">Phone number</label>
        <div class="col-md-8">
          <input type="text"
                 name="MERGE3"
                 id="MERGE3"
                 autocomplete="on"
                 class="form-control"
                 placeholder="Phone …">
        </div>
      </div>

      <div class="form-group row">
        <label for="MERGE4" class="col-md-4 col-form-label">Area of interest</label>
        <div class="col-md-8">
          <input type="text"
                 name="MERGE4"
                 id="MERGE4"
                 autocomplete="on"
                 class="form-control"
                 placeholder="I want to …">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 offset-md-8 col-md-4">
          <input type="submit" class="cad-contact-form-button btn btn-block btn-lg btn-secondary" value="Sign up!">
        </div>
      </div>
    </div>
    <!-- NB CAD MailChimp redirect on sign-up is set on the MailChimp settings under "Form Builder" -->
  </div>
</form>

