<header class="cad-masthead text-white">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-4
                  col-md-6 offset-md-3
                  col-sm-6 offset-sm-3
                  col-xs-6 offset-xs-3">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/climate-action-darwin-logo.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mx-auto mb-5">
        <h1 class="text-center">Sign up to take action</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-4 mx-auto">
        <a href="/signup/" class="cad-contact-form-button btn btn-block btn-lg btn-primary">Sign up!</a>
      </div>
    </div>
  </div>
</header>
