{% if include.source %}
{% assign source = include.source %}
{% else %}
{% assign source = page %}
{% endif %}
<span class="cad-share-bar">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ source.url }}"
     onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
     title="Share on Facebook">
    <i class="fab fa-facebook cad-facebook-icon"></i>
  </a>

  <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ source.url }}"
     onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
     title="Share on Twitter">
    <i class="fab fa-twitter cad-twitter-icon"></i>
  </a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ source.url }}"
     onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
     title="Share on LinkedIn">
    <i class="fab fa-linkedin cad-linkedin-icon"></i>
  </a>
</span>
