.usd-banner-message {
  overflow: auto;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 1rem;
  background-color: #d3d3d3;
 
  padding-left: 1rem;
  padding-right: 1rem;

  strong {
    color: $usd-orange;
    font-weight: bolder;
  }
  
  &--orange {
    color: white;
    background-color: $usd-orange;
    margin-bottom: 3rem;

    strong {
      color: black !important;
    }
  }

  img.usd-banner-image {
    float: right;
    width: 30%;
  }

  p, ul {
    font-family: $font-family-serif;
    font-size: 28px;
    line-height: 1.2em;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  ul {
    text-align: center;
  }
  
  @include media-breakpoint-up(sm) {
    padding-left: 3rem;
    padding-right: 3rem;

    p, ul {
      font-size: 34px;
    } 
  }

  @include media-breakpoint-up(md) {
    p, ul {
      font-size: 57px;
    } 
  }

}

.usd-download-overlay {
  color: black;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.usd-download:hover {
  img {
    opacity: 50%;
    border: 5px solid $usd-orange;
  }

  .usd-download-overlay {
    color: $usd-grey;
  }
}
