
.cad-call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bungle-bungles.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.cad-call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

