
div.usd-content-container {
  img {
    width: 100%;
  }

  .usd-post-body {
    font-size: 15px;
    overflow: auto;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);

    a {
      font-weight: bolder;
    }

    strong {
      font-family: $font-family-serif;
      font-size: larger;
    }

    p:not(:first-of-type) {
      margin-top: 1.5rem;
      text-align: justify;
    }

    @include media-breakpoint-up(md) {
      padding-left: 3rem;
      padding-right: 3rem;

      p, ul {
        font-size: 18px;
      } 
    }
  }
}

div.usd-byline-wrapper {
  text-align: right;

  p {
    font-style: italic;
    font-weight: bolder;
    font-size: smaller;
  }
}
