
div.usd-content-container {
  img {
    width: 100%;
  }

  .usd-post-body {
    font-size: large;

    min-height: 100px; // to stop .usd-fact-badge elements "leaking"

    a {
      font-weight: bolder;
    }

    strong {
      font-family: $font-family-serif;
      font-size: larger;
      text-decoration: none;
      padding-bottom: 2px;
      border-bottom: 5px solid $usd-orange;
    }

    p:not(:first-of-type) {
      margin-top: 1.5rem;
      text-align: justify;
    }
  }
}

div.usd-byline-wrapper {
  text-align: right;

  p {
    font-style: italic;
    font-weight: bolder;
    font-size: smaller;
  }
}
