
div.usd-content-container {
  margin-top: 4rem;

  img {
    width: 100%;
  }
}

div.usd-byline-wrapper {
  text-align: right;

  p {
    font-style: italic;
    font-weight: bolder;
    font-size: smaller;
  }
}
