div.usd-dropdown-menu {
    color: white;
    background-color: $usd-orange;
    border: 1px solid white;
    border-radius: 0px;

    a.dropdown-item {
        color: white;
        background-color: $usd-orange;
    }

    a.dropdown-item:hover {
        color: $usd-light-grey;
        background-color: white;
    }
}