// .usd-fact-badge {
//   width: 100px;
//   line-height: 100px;
//   border-radius: 50%;
//   text-align: center;
//   border: 5px solid $usd-orange;
// }

.usd-fact-badge {
    font-size: 32px;
    font-weight: bold;

    width: 2em;
    height: 2em;
    box-sizing: initial;

    border: 5px solid $usd-orange;
    text-align: center;
    border-radius: 50%;    

    line-height: 2em;
    box-sizing: content-box;   
}

div.row:nth-child(odd) .usd-fact-badge {
  float: left;
  margin-right: 20px;
} 

div.row:nth-child(even) .usd-fact-badge {
  float: right;
  margin-left: 20px;
}


// .usd-fact-badge-number {
//   font-size: 32px;
//   width: 100%;
// }
