div.cad-gallery {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 50%;
  -moz-column-width: 50%;
  column-width: 50%;
  
  img {
    margin-bottom: $spacer;
  }
}
