
nav.cad-navbar {
  background-color: $cad-mid-blue;
}

nav.cad-navbar .navbar-brand {
  background-color: white;
  margin-top: 20px;
  margin-left: -20px;
  padding: 15px;
  font-size: x-large;
  font-weight: bold;
  border-radius: 100px;
  border: 1px solid #3d69a7;
  z-index: 1000;
  position: fixed;
}

nav.cad-navbar .navbar-brand.cad-nav-menu-open {
  position: inherit;
  margin-top: 7px;
}

nav.cad-navbar .nav-item .nav-link {
  color: white;
}


