
span.cad-share-bar {
  float:right;
}

.cad-twitter-icon {
  font-size: 80%;
  color: #38a1f3;
}

.cad-facebook-icon {
  font-size: 80%;
  color: #4267b2;
}

.cad-linkedin-icon {
  font-size: 80%;
  color: #0e76a8;
}

svg.fa-rss-square {
  color: $cad-orange;
}
